{% extends "master.html" %}

{% block title %}
Admin Portal - Add new category
{% endblock title %}

{% block navbar %}
{% include "navbar.html" with first_name=request.user.first_name %}
{% endblock %}

{% block content %}
    <section class="w-100 px-4 py-5" style=" border-radius: .5rem .5rem 0 0;">
        <div class="row d-flex justify-content-center">
          <div class="col col-md-9 col-lg-11 col-xl-11">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                {% include "message_display.html" %}

                <h1 class="text-center my-3 pb-3">Admin Dashboard - Product</h1>
                <hr>
                
                <div class="container mt-5">
                    <h2>Add New Category</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="form-label" >Category Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder = "Enter Category name" required>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder = "Enter Category description" required>

                        </div>

                        <button type="submit" class="btn btn-primary">Add category</button>
                    </form>
                </div>

              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}