<footer class="text-center align-bottom text-dark position-fixed bottom-0 start-0 w-100" style="background-color: #f1f1f1;">
    <div class="text-dark py-3 " style="background-color: rgba(0, 0, 0, 0.2);">
      <a href="/policy" class="text-dark me-4 text-decoration-none">
        <i class="fas fa-shield-alt me-1"></i> Policy
      </a>
      <a href="/about" class="text-dark me-4 text-decoration-none">
        <i class="fas fa-info-circle me-1"></i> About
      </a>
      <a href="/contact-us" class="text-dark me-4 text-decoration-none">
        <i class="fas fa-envelope me-1"></i> Contact Us
      </a>
      <a href="/payment/donate" class="text-dark me-4 text-decoration-none">
        <i class="fas fa-coffee me-1"></i> Send Coffee
      </a>
  </footer>