<nav class="navbar navbar-expand-lg navbar-shipshop">
  <div class="container-fluid">
    <a class="navbar-brand " href="/">ShipShop</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarResponsive">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/profile/wishlist"><i class="fas fa-heart me-1"></i>Wishlist</a>
        </li>
      </ul>

      <div class="d-flex flex-wrap align-items-center nav-action">
        {% if request.user.is_authenticated %}
          {% if request.user.isAdmin %}
            <a href="/admin-portal/product" class="btn btn-warning nav-icon-btn"><i class="fas fa-cubes"></i>Admin Products</a>
            <a href="/admin-portal" class="btn btn-warning nav-icon-btn"><i class="fas fa-users-cog"></i>Admin Users</a>
          {% endif %}
          <a href="/profile" class="btn btn-outline-light nav-icon-btn"><i class="fas fa-user"></i>{{ first_name }}</a>
          <a href="/cart" class="btn btn-success nav-icon-btn"><i class="fas fa-shopping-cart"></i>Cart</a>
          <a href="/auth/logout" class="btn btn-danger nav-icon-btn"><i class="fas fa-sign-out-alt"></i>Logout</a>
        {% else %}
          <a href="/auth/login" class="btn btn-danger nav-icon-btn"><i class="fas fa-sign-in-alt"></i>Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>